[submodule "home"]
	path = home
	url = https://github.com/lytree/home.git
[submodule "docs"]
	path = docs
	url = https://github.com/lytree/docs.git
[submodule "nav"]
	path = nav
	url = https://github.com/lytree/nav.git
[submodule "blog"]
	path = blog
	url = https://github.com/lytree/blog
